.article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px 20px;

  &__tools{
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    margin: 16px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-action {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
}
