.article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px 20px;

  &__tools {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    margin: 16px;

    &__filter-applied {
      background-color: #1976d2 !important;
      color: white !important;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
}
