<div class="article">
  <div class="article__tools">
    <app-button
      mat-button
      color="accent"
      matBadgePosition="before"
      label="Filter Articles"
      iconStyle="display:none;"
      [isFilterApplied]="isFilterApplied()"
      [matBadge]="filterBadge > 0 ? filterBadge : null"
      (click)="openFilterModal()" />
    <app-button
      color="primary"
      routerLink="/article/create"
      icon="add_circle"
      iconStyle="margin: 0.2rem"
      toolTip="Create a new article"
      label="Create Article" />
  </div>
  <div class="article__list">
    <app-article-card *ngFor="let article of articles" [article]="article">
    </app-article-card>
  </div>
</div>
<footer class="footer">
  <mat-paginator
    [length]="totalArticles"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)">
  </mat-paginator>
</footer>
