@use '../../../../../styles.scss' as *;

.article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: px-to-rem(0) px-to-rem(20);

  &__tools {
    display: flex;
    justify-content: flex-end;
    padding: px-to-rem(8) 0;
    margin: px-to-rem(16);

    button {
      margin-right: 0.5rem;
    }

    &__filter-applied {
      background-color: #546c85 !important;
      color: white !important;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: px-to-rem(20);
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.footer {
  margin-top: px-to-rem(20);
  padding: px-to-rem(20);
  text-align: center;
  background-color: #f8f8f8;
}
