@use '../../../../../styles.scss' as *;

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  max-height: px-to-rem(300);
  overflow-y: auto;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.filter-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
  align-items: center;
}

.filter-date {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    position: relative;
    top: -0.5rem;
  }
}
