<div class="filter-head">
  <h2 mat-dialog-title>Filter Articles</h2>
  <button mat-button (click)="closeDialog()">
    <mat-icon style="margin: 0">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input
      type="text"
      matInput
      placeholder="All"
      [formControl]="authorInput"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let author of filteredAuthors | async"
        [value]="author"
        >{{ author }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>

  <div class="filter-date">
    <mat-form-field appearance="fill">
      <mat-label>Created At</mat-label>
      <input
        matInput
        placeholder="Select a date"
        [matDatepicker]="picker"
        [(ngModel)]="filter.created_at" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="resetDate()">Reset</button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Tag</mat-label>
    <mat-select multiple [(value)]="filter.tags">
      <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" cdkFocusInitial (click)="applyFilters()">
    Apply Filters
  </button>
  <button mat-button color="warn" (click)="clearFilter()">Clear Filter</button>
</mat-dialog-actions>
