<div class="filter-head">
  <h2 mat-dialog-title>Filter Articles</h2>
  <app-button icon="close" toolTip="cancel and close" (click)="closeDialog()" />
</div>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input
      type="text"
      matInput
      placeholder="All"
      [formControl]="authorInput"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let author of filteredAuthors | async"
        [value]="author"
        >{{ author }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>

  <div class="filter-date">
    <mat-form-field appearance="fill">
      <mat-label>Created At</mat-label>
      <input
        matInput
        placeholder="Select a date"
        [matDatepicker]="picker"
        [(ngModel)]="filter.created_at" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <app-button label="Reset" toolTip="reset the date" (click)="resetDate()" />
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Tag</mat-label>
    <mat-select multiple [(value)]="filter.tags">
      <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <app-button
    color="warn"
    label="Clear Filter"
    toolTip="clear all filters applied"
    (click)="clearFilter()" />
  <app-button
    color="primary"
    label="Apply Filters"
    cdkFocusInitial
    toolTip="Apply filter on articles"
    (click)="applyFilters()" />
</mat-dialog-actions>
