.container {
  margin-top: 2px;
  margin-left: 2px;

  &__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img{
      height: 32rem;
      width: 32rem;
    }

    button{
      height: 4rem;
      font-size: 1.2rem;
      
    }
  }
}
