<mat-toolbar color="primary">
  <a routerLink="/" class="brand">Mini-Social-Network</a>

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton">
    <div class="toolbar-button">
      <button mat-button routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </ng-container>

  <ng-template #loginButton>
    <div class="toolbar-button">
      <button mat-button routerLink="/auth/login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>
  </ng-template>
</mat-toolbar>
