<header>
  <mat-toolbar class="navbar" color="primary">
    <a class="navbar__brand" routerLink="{{ RouteRoot }}"
      >Mini-Social-Network</a
    >

    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton">
      <div class="navbar__button">
        <button
          *ngIf="currentRoute !== RouteDashboard"
          mat-button
          routerLink="{{ RouteDashboard }}">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </ng-container>

    <ng-template #loginButton>
      <div class="navbar__button">
        <button
          mat-button
          [routerLink]="currentRoute === RouteLogin ? RouteSignup : RouteLogin">
          <mat-icon>{{
            currentRoute === RouteLogin ? signUpIcon : LoginIcon
          }}</mat-icon>
          {{ currentRoute === RouteLogin ? SignUp : Login }}
        </button>
      </div>
    </ng-template>
  </mat-toolbar>
</header>
