@use '@ngneat/hot-toast/src/styles/styles.scss';
@use '@angular/material' as mat;

@function px-to-rem($size) {
  @return calc($size / 16) + rem;
}

$theme: mat.define-theme();
html {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.form-container {
  display: block;
  max-width: px-to-rem(300);
  margin: auto;
  background: whitesmoke;
  padding: px-to-rem(48);
  border-radius: px-to-rem(16);
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: px-to-rem(16);
}

.text-center {
  text-align: center;
}
